assets/pos/*-train.conllu
assets/pos/*-dev.conllu
assets/pos/*-test.conllu
assets/ud/*-train.conllu
assets/ud/*-dev.conllu
assets/ud/*-test.conllu
corpus/L1_combined/pos/*
corpus/L1_combined/ud/*
corpus/L1L2_combined/pos/*
corpus/L1L2_combined/ud/*
corpus/L1L2e_combined/pos/*
corpus/L1L2e_combined/ud/*
corpus/UDL1L2e_combined/pos/*
.DS_Store
training/*
